<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.douyin">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".VideoCache"
        android:allowBackup="true"
        android:icon="@mipmap/enter_icon1"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:resizeableActivity="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/enter_icon1round"
        android:supportsRtl="true"
        android:theme="@style/main_theme">
        <activity android:name=".Login" />

        <activity android:name=".SearchActivity" />
        <activity android:name=".PersonInfo" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".PlayVideoActivity" />
        <activity android:name=".EditMyinfo" />
        <activity android:name=".ShootActivity" />
        <activity android:name=".FocusActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ChatRoom" />
        <activity android:name=".ReportActivity"/>
        <activity android:name=".Setting"/>
        <activity android:name=".AboutUs"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>